.edit {
    box-sizing: border-box;
    resize: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: inherit;
}

.edit:focus {
    outline: none;
    box-shadow:
        inset 0 0 10px 3px lightgray,
        0 0 10px 10px lightgray
}